#think {
    position: absolute;
    text-align: center;
    transform: translate(-1%, -50%);
    width: 10rem;
    height: 3rem;
    top: .5%;
    right: 1.2%;
    border-radius: 10px;
    animation: move 40s linear infinite;
}

#design {
    position: absolute;
    text-align: center;
    transform: translate(-25%, -50%);
    width: 10rem;
    height: 3rem;
    top: .5%;
    right: 1.2%;
    border-radius: 10px;
    animation: move 40s 10s infinite;
    /* animation-delay: .2s; */
    animation: fadeIn 10s;
}

#create {

}

#repeat {

}
 
@keyframes move {
    0% {
        right: 0;
    }
    100% {
        right: 79%;
    }
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }