body {
    /* overflow-x: hidden; to remove bottom scroll bar  */ 
    background-color: #C6FCEC;
}

/* Container for button */
#mode-button {
    box-shadow: inset 0rem .1rem .5rem rgb(121, 45, 129), inset 0rem -.1rem .5rem rgb(255, 255, 255, 0.4);
}

/* change button */
#mode-button:after {
    background: rgb(121, 45, 129);
}

#mode-button .design-mode-off {
    filter: invert(0); /*icon black */
}

/* Right side */
.main-section-right-banner {
    background: radial-gradient(circle at 100%, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
    color: #C6FCEC;
}

/* Left Side */
.left-sidebar {
    border: 5px solid rgb(36, 31, 98);
}

.left-sidebar-header {
    color: rgb(36, 31, 98);
    border-bottom: .3rem solid rgb(36, 31, 98);
}

.left-sidebar-name {
    border-bottom: .2rem dotted rgb(36, 31, 98);
}


 
