body {
   background: rgb(225, 234, 238);
}

/* Creates the container for button */
label {
    width: 6rem;
    height: 2.8rem;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 20rem;
    box-shadow: inset 0rem .1rem .5rem rgb(121, 45, 129), inset 0rem -.1rem .5rem rgb(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;/* Creates sliding animation */
}

/* Creates the toggle button inside the container */
label:after {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: .2rem;
    left: .1rem;
    background: rgb(121, 45, 129);
    border-radius: 18rem;
    transition: 0.3s; /* Creates sliding animation */
}

/* Hides Checkbox*/
input{
    width: 0;
    height: 0;
    visibility: hidden;
}

/* Creates clicked state for label*/
input:checked + label {
    box-shadow: inset 0rem .1rem .5rem rgb(36, 31, 98), inset 0rem -.1rem .5rem rgb(255, 255, 255, 0.4);

}

/* Creates clicked state position and button color, changes the position of the pseudo element by
using left and translate x*/
input:checked + label:after {
    left:5.5rem;
    transform: translate(-100%);
    background: rgb(36, 31, 98);
}

/* GUI effect, changes width of button when clicked */
label:active:after {
    width: 3rem;
}


/* Develop Mode */
.develop-body{
    background: rgb(50, 50, 50);
    color: #e6e6e6;
}

#mode-label{
    margin-top: .5rem;
    padding-left: .5rem;
    font-size: 1.5rem;
}
