body {
    background: radial-gradient(circle at 100%, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
}


/* Creates the container for button */
label {
    width: 6rem;
    height: 2.8rem;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 20rem;
    box-shadow: inset 0rem .1rem .5rem rgb(121, 45, 129), inset 0rem -.1rem .5rem rgb(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;/* Creates sliding animation */
}

/* Creates the toggle button inside the container */
label:after {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: .2rem;
    left: .1rem;
    background: linear-gradient(76.8deg, rgb(50, 50, 50) 3.6%, rgb(0, 0, 0) 90.4%);;
    border-radius: 18rem;
    box-shadow: 0rem, .5rem, 1rem rgb(0, 0, 0, 0.2);
    transition: 0.3s; /* Creates sliding animation */
}

/* Hides Checkbox*/
input{
    width: 0;
    height: 0;
    visibility: hidden;
}

/* Creates clicked state for label*/
input:checked + label {
    background: black;
    box-shadow: inset 0rem .1rem .5rem rgb(121, 45, 129), inset 0rem -.1rem .5rem rgb(255, 255, 255, 0.4);

}

/* Creates clicked state position and button color, changes the position of the pseudo element by
using left and translate x*/
input:checked + label:after {
    left:5.5rem;
    transform: translate(-100%);
    background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
}

/* GUI effect, changes width of button when clicked */
label:active:after {
    width: 3rem;
}


/* Develop Mode */
.develop{
    background: radial-gradient(circle at 100%, rgb(50, 50, 50) 3.6%, rgb(0, 0, 0) 90.4%);
    color: #e6e6e6;
}

#mode-label{
    margin-top: .5rem;
    padding-left: .5rem;
    font-size: 1.5rem;
}
